body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outer-container {
    background-color: red;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 12px;
}

.grid-container {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(255, 255, 255);
    margin: 50px 50px 0px;
    display: flex;
    flex-direction: column;
}

.bottom-container {
    display: flex;
    padding: 12px;
}

button {
    margin: 16px 8px;
}

.row {
    height: 10px;
    display: flex;
    flex: 1 1 auto;
}

.square {
    width: 10px;
    flex: 1 1 auto;
}

.filled-in {
    background-color: purple;
}

.label {
    font-size: 30px;
    margin: auto;
}

.knob {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}